nsxt_host           = "172.20.16.11"
nsxt_username       = "admin"
nsxt_password       = ""
t1_avi_mgmt_name    = "t1-avi-mgmt"
t1_avi_vip_name     = "t1-avi-vip"
edge_cluster_name   = "edge-cluster-1"
t0_router_name      = "tas-tkgi-t0"
transport_zone_name = "tz-overlay"

avi_mgmt_segment_name            = "avi-mgmt-seg-automated"
avi_mgmt_segment_gateway         = "172.30.7.113"
avi_mgmt_network_ip_addr         = "172.30.7.112"
avi_mgmt_network_ip_addr_mask    = 28
avi_mgmt_network_dhcp_enabled    = true
avi_mgmt_dhcp_server_address     = "172.30.7.126"
avi_mgmt_segment_static_ip_begin = "172.30.7.114"
avi_mgmt_segment_static_ip_end   = "172.30.7.125"

avi_vip_segment_name             = "avi-vip-seg-automated"
avi_vip_segment_gateway          = "172.30.7.129"
avi_vip_segment_ip_addr          = "172.30.7.128"
avi_vip_segment_ip_addr_mask     = 28