avi_cloud_name = ""
avi_controller = ""
avi_health_monitor_name = ""
avi_mgmt_network_ip_addr = ""
avi_mgmt_network_ip_addr_mask = ""
avi_mgmt_segment_gateway = ""
avi_mgmt_segment_name = ""
avi_mgmt_segment_static_ip_begin = ""
avi_mgmt_segment_static_ip_end = ""
avi_password = ""
avi_tenant = ""
avi_username = ""
avi_vip_segment_gateway = ""
avi_vip_segment_ip_addr = ""
avi_vip_segment_ip_addr_mask = ""
avi_vip_segment_name = ""
avi_vip_segment_static_ip_begin = ""
avi_vip_segment_static_ip_end = ""

tas_gorouter_vip = ""

edge_cluster_name = ""
nsxt_host = ""
nsxt_password = ""
nsxt_username = ""
opsman_ca_cert = ""
t0_router_name = ""
t1_avi_mgmt_name = ""
t1_avi_vip_name = ""
transport_zone_name = ""

vcenter_cluster = ""
vcenter_datacenter = ""
vcenter_datastore = ""
vcenter_host = ""
vcenter_password = ""
vcenter_username = ""
vcenter_content_library_avi = ""