avi_controller_vcenter_datacenter         = "Home"
avi_controller_vcenter_cluster            = "Physical"
avi_controller_vcenter_datastore          = "datastore1"
avi_controller_vcenter_host               = "192.168.178.102"
avi_controller_vcenter_username           = "administrator@vsphere.local"
avi_controller_vcenter_password           = ""
avi_controller_vsphere_network_name       = "tanzu-without-dhcp"
avi_controller_vsphere_network_mask       = "22"
avi_controller_vsphere_network_gateway_ip = "172.20.16.1"
avi_controller_vm_name                    = "avi-controller-tf"
avi_controller_cpu                        = 8
avi_controller_memory_in_mb               = 32768
avi_controller_disk_size_in_gb            = 128
avi_username                              = "admin"
avi_default_password                      = ""
avi_password                              = ""
avi_controller                            = "172.20.16.3"
avi_tenant                                = "admin"
